@import "tailwindcss";

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

@layer base {
    h2 {
        font-size: min(10vw, 28px);
        font-weight: 700;
        line-height: 1.5;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    p {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

#head2 {
    anchor-name: --heading-2;
}

.smallyellowflower {
    position:-webkit-sticky;
    top: anchor(--heading-2 top);
    left: anchor(--heading-2 right);
}

@theme {
    --font-display: 'Playfair Display', 'Times New Roman', serif;
    --font-body: 'Lexend Deca', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-mono: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    --breakpoint-3xl: 120rem;
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}
