@import "tailwindcss";
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-scrollbar: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

@custom-variant dark (&:where(.dark, .dark *));

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

.app-container {
  min-height: 100vh;
  min-width: 100vw;

}
.tag-input:empty::before {
  content: attr(data-placeholder);
  color: var(--color-gray-700);
  pointer-events: none;
}

@layer base {
    h2 {
        font-size: min(10vw, 28px);
        font-weight: 700;
        line-height: 1.5;
    }

    blockquote {
        background-color: #ededed;
        margin: 5px auto;
        padding: 10px;
        border-left: 5px solid #ccc;
        border-radius: 3px;
        color: var(--color-gray-500);
    }
}

.glass-blur {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

#head2 {
    anchor-name: --heading-2;
}

.smallyellowflower {
    position: -webkit-sticky;
    top: anchor(--heading-2 top);
    left: anchor(--heading-2 right);
}

@theme {
    --font-display: 'Playfair Display', 'Times New Roman', serif;
    --font-body: 'Lexend Deca', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-mono: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    --breakpoint-3xl: 120rem;
    --color-bookends-primary: #ecfcca;
    --color-bookends-secondary: #DBF99A;
    --color-bookends-gray: #77878B;
    --color-bookends-titlebar: #192e03;
    --color-bookends-accent: #F9E0B2;
    --color-bookends-dark-primary: #ecfcca;
    --color-bookends-dark-secondary: #DBF99A;
    --color-bookends-dark-gray: #77878B;
    --color-bookends-dark-titlebar: #192e03;
    --color-bookends-dark-accent: #F9E0B2;
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

.wallpaper {
  background-size: cover;
  background-position: center;
}

@media (min-aspect-ratio: 16/9) {
  .wallpaper {
    background-size: 100% auto; /* Fit width */
  }
}

@media (max-aspect-ratio: 16/9) {
  .wallpaper {
    background-size: auto 100%; /* Fit height */
  }
}