@import "tailwindcss";

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

@layer base {
    h2 {
        font-size: min(10vw, 28px);
        font-weight: 700;
        line-height: 1.5;
    }

    blockquote {
        background-color: #ededed;
        margin: 5px auto;
        padding: 10px;
        border-left: 5px solid #ccc;
        border-radius: 3px;
        color: var(--color-gray-500);
    }
}

#head2 {
    anchor-name: --heading-2;
}

.smallyellowflower {
    position: -webkit-sticky;
    top: anchor(--heading-2 top);
    left: anchor(--heading-2 right);
}

@theme {
    --font-display: 'Playfair Display', 'Times New Roman', serif;
    --font-body: 'Lexend Deca', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-mono: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    --breakpoint-3xl: 120rem;
    --color-bookends-primary: #ecfcca;
    --color-bookends-secondary: #DBF99A;
    --color-bookends-gray: #77878B;
    --color-bookends-titlebar: #192e03;
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}